<!DOCTYPE html>
<html>
<head>
    <title>Admin's Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav ml-auto"><a class="nav-link" href="/user/{{user}}">Admin Dashboard</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/user/{{user}}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{{user}}/find">Find</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{{user}}/stat">Stat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<main class="text-center">
  <p class="h2">Welcome {{user}}</p>
  <div class="container">
    <div class="section">
        <div class="section">
            <p class="h3">Active Campaigns</p>
            <table class="table">
              <thead>
                <tr><p class="h4">
                  <th>Campaign</th>
                  <th>Progress</th>
                  <th>Action</th>
                  </p></tr>
              </thead>
              <tbody>
                {%if active_campaigns==[]%}
                </tbody></table><p>~No campaigns</p>
                {%endif%}
                {% for campaign in active_campaigns %}
                {% if campaign.status=="active" %}
                <tr>
                  <td>{{ campaign.Title }}</td>
                  <td>{{ campaign.progress}}%</td>
                  <td style="text-align: center;">
                    <button type="button" class="view-button-campaign" data-bs-toggle="modal" data-bs-target="#campaignModal-{{campaign.Campaign_id}}" 
                      data-campaign-id= "{{campaign.Campaign_id}}"
                      data-campaign-title= "{{campaign.Title}}"
                      data-campaign-desc= "{{campaign.Desc}}"
                      data-campaign-progress="{{campaign.progress}}" 
                      data-campaign-niche="{{ campaign.Niche }}" 
                      data-campaign-status="{{ campaign.status }}" 
                      data-campaign-start-date="{{ campaign.start_date }}" 
                      data-campaign-end-date="{{ campaign.end_date }}" 
                      data-campaign-goal-ads="{{ campaign.Goal_ads }}" 
                      data-campaign-budget="{{ campaign.Budget }}"><i class="fa fa-eye">View</i></button>
                      </td>
                </tr>
                <!-- view Modal -->
          <div class="modal" id="campaignModal-{{campaign.Campaign_id}}" tabindex="-1" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="campaignModalLabel"> <span id="campaign-title"> </span></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Display campaign details here -->
                  Description: <span id="campaign-desc"></span><br>
                  Progress: <span id="campaign-progress"></span><br>
                  Niche: <span id="campaign-niche"></span><br>
                  Status: <span id="campaign-status"></span><br>
                  Start date: <span id="campaign-start-date"></span><br>
                  End date: <span id="campaign-end-date"></span><br>
                  Goal ads: <span id="campaign-goal-ads"></span><br>
                  Budget: <span id="campaign-budget"></span>
                </div>
              </div>
            </div>
          </div>
        <!--modal end-->
        {%endif%}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="section">
      <p class="h3">Flagged Users</p>
      <table class="table">
        <thead>
          <tr><p class="h4">
            <th>Username </th>
            <th>Type</th>
            <th>Niche</th>
            <th>Platforms</th>
            <th>Action</th>
            </p></tr>
        </thead>
        <tbody>
          {%if Flagged_Influencer==[]%}
          </tbody></table><p>~No flagged influencers</p>
          {%endif%}
          {% for entries in Flagged_Influencer %}
          <tr>
            <td>{{ entries.username }}</td>
            <td>{{ entries.type }}</td>
            <td>{{entries.Niche}}</td>
            <td>{{entries.platform}}</td>
            <td><button type="button" class="view-button-influ" data-bs-toggle="modal" data-bs-target="#influModal-{{entries.id}}" 
                data-inf-id= "{{entries.id}}"
                data-inf-username="{{entries.username}}"
                data-inf-name= "{{entries.Contact_name}}"
                data-inf-email= "{{entries.Contact_email}}"
                data-inf-phone="{{entries.Contact_phone}}" 
                data-inf-dob="{{ entries.DOB }}" 
                data-inf-niche="{{ entries.Niche }}" 
                data-inf-platform="{{ entries.platform }}"><i class="fa fa-eye"></i></button>
                <button type="button" class="delete-user" data-username="{{user}}" data-camp-id="{{campaign.Campaign_id}}" ><i class="fa fa-trash">Revome</i></button>
                <button type="button" class="unflag" data-username="{{user}}" data-camp-id="{{campaign.Campaign_id}}" >unflag</button>
            </td>
        </tr>
        <!--modal influ view-->
            <div class="modal" id="influModal-{{entries.id}}" tabindex="-1" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="infModalLabel"> <span id="inf-name"> </span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Display campaign details here -->
                            Contact_email: <span id="inf-email"></span><br>
                            Contact_phone: <span id="inf-phone"></span><br>
                            DOB: <span id="inf-dob"></span><br>
                            Niche: <span id="inf-niche"></span><br>
                            platform: <span id="inf-platform"></span><br>
                        </div>
                    </div>
                </div>
            </div>
        <!--modal end-->
        {%endfor%}
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr><p class="h4">
            <th>Username </th>
            <th>Type</th>
            <th>Intustry</th>
            <th>Company name</th>
            <th>Action</th>
            </p></tr>
        </thead>
        <tbody>
       {%if Flagged_Sponsor==[]%}
          </tbody></table><p>~No flagged Sponsors</p>
          {%endif%}
          {% for entries in Flagged_Sponsor %}
          <tr>
            <td>{{ entries.username }}</td>
            <td>{{ entries.type }}</td>
            <td>{{entries.Industry}}</td>
            <td>{{entries.Company_name}}</td>
            <td><button type="button" class="view-button-spons" data-bs-toggle="modal" data-bs-target="#sponsModal-{{entries.id}}" 
                data-spon-id= "{{entries.id}}"
                data-spon-username="{{entries.username}}"
                data-spon-name= "{{entries.Contact_name}}"
                data-spon-email= "{{entries.Contact_email}}"
                data-spon-phone="{{entries.Contact_phone}}" 
                data-spon-industry="{{ entries.Industry }}" 
                data-spon-company-name="{{ entries.Company_name }}"><i class="fa fa-eye"></i></button>
                <button type="button" class="delete-user" data-username="{{user}}" data-id="{{entries.id}}" ><i class="fa fa-trash">Revome</i></button>
                <button type="button" class="unflag" data-username="{{user}}" data -id="{{entries.id}}" >unflag</button>
            </td>
            </tr>
            <!--modal influ view-->
            <div class="modal" id="influModal-{{entries.id}}" tabindex="-1" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sponModalLabel"> <span id="spon-name"> </span></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Display campaign details here -->
                            Contact_email: <span id="spon-email"></span><br>
                            Contact_phone: <span id="spon-phone"></span><br>
                            Industry: <span id="spon-industry"></span><br>
                            platform: <span id="spon-company-name"></span><br>
                        </div>
                    </div>
                </div>
            </div>
            <!--modal end-->
          {%endfor%}
      </table>
    </div>
    <div class="section"></div>
      <p class="h3">Flagged Campaigns</p>
      <table class="table">
        <thead>
          <tr><p class="h4">
            <th>Campaign</th>
            <th>Progress</th>
            <th>Action</th>
            </p></tr>
        </thead>
        <tbody>
        {%if Flagged_campaigns==[]%}
          </tbody></table><p>~No Flagged campaings</p>
          {%endif%}
          {% for campaign in Flagged_campaings %}
          <tr>
            <td>{{ campaign.Title }}</td>
            <td>{{ campaign.progress }}%</td>
            <td>
                <button type="button" class="view-button-campaign" data-bs-toggle="modal" data-bs-target="#campaignModal-{{campaign.Campaign_id}}" 
                data-campaign-id= "{{campaign.Campaign_id}}"
                data-campaign-title= "{{campaign.Title}}"
                data-campaign-desc= "{{campaign.Desc}}"
                data-campaign-progress="{{campaign.progress}}" 
                data-campaign-niche="{{ campaign.Niche }}" 
                data-campaign-status="{{ campaign.status }}" 
                data-campaign-start-date="{{ campaign.start_date }}" 
                data-campaign-end-date="{{ campaign.end_date }}" 
                data-campaign-goal-ads="{{ campaign.Goal_ads }}" 
                data-campaign-budget="{{ campaign.Budget }}"><i class="fa fa-eye"></i></button>
                <button type="button" class="delete-camp" data-username="{{user}}" data-camp-id="{{campaign.Campaign_id}}" ><i class="fa fa-trash">Revome</i></button>
                <button type="button" class="unflag" data-username="{{user}}" data-camp-id="{{campaign.Campaign_id}}" >unflag</button>
          </td>
        </tr>
          <!-- view camp Modal -->
    <div class="modal" id="campaignModal-{{campaign.Campaign_id}}" tabindex="-1" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="campaignModalLabel"> <span id="campaign-title"> </span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <!-- Display campaign details here -->
              Description: <span id="campaign-desc"></span><br>
              Progress: <span id="campaign-progress"></span><br>
              Niche: <span id="campaign-niche"></span><br>
              Status: <span id="campaign-status"></span><br>
              Start date: <span id="campaign-start-date"></span><br>
              End date: <span id="campaign-end-date"></span><br>
              Goal ads: <span id="campaign-goal-ads"></span><br>
              Budget: <span id="campaign-budget"></span>
            </div>
          </div>
        </div>
      </div>
      <!--modal end-->
        {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/js/modal.js"> </script>   
    <script defer>
        $(document).ready(function() {
            $('.flag-button').on('click', function() {
                var flag_type_id= { 
                    req_id: $(this).data('req-id'),
                    Ad_id: $(this).data('ad-id'),
                    camp_id: $(this).data('camp_id'),
                    user_id: $(this).data('id'),
                    u_name: $(this).data('username'),
                }
                $.ajax({
                    type: 'POST',
                    url: '/user/'+ u_name,
                    data: { type: 'flag', id: flag_type_id },
                    success: function() {
                        console.log('success');
                    }
                });
            });
        });
        $(document).ready(function() {
            $('.unflag-button').on('click', function() {
                var flag_type_id= { 
                    req_id: $(this).data('req-id'),
                    Ad_id: $(this).data('ad-id'),
                    camp_id: $(this).data('camp_id'),
                    user_id: $(this).data('id'),
                    u_name: $(this).data('username'),
                }
                $.ajax({
                    type: 'POST',
                    url: '/user/'+ u_name,
                    data: { type: 'unflag', id: flag_type_id },
                    success: function() {
                        console.log('success');
                    }
                });
            });
        });
        $(document).ready(function() {
            $('.delete-button').on('click', function() {
                var flag_type_id= { 
                    req_id: $(this).data('req-id'),
                    Ad_id: $(this).data('ad-id'),
                    camp_id: $(this).data('camp_id'),
                    user_id: $(this).data('id'),
                    u_name: $(this).data('username'),
                }
                $.ajax({
                    type: 'POST',
                    url: '/user/'+ u_name,
                    data: { type: 'delete', id: flag_type_id },
                    success: function() {
                        console.log('success');
                    }
                });
            });
        });
    </script> 
</body>
</html>
