<!DOCTYPE html>
<head>
    <title>Spons influencer System</title>
    <link rel="stylesheet" href="static/reg-log.css">
    </head>
<body>
    <div style="text-align: center;", class="container">
        Are you a new user?<br>
            <div class="box">
            <a href="/spon-reg">Sponsor register.</a>
            </div>
            <div class="box">
            <a href="/inf-reg">Influencer register</a>
            </div>
    </div><br>
    <div id="main">
        <div id="canvas">
            <div id="form-body">
                <form action="/Login" method="post">
                    <h2>Login</h2>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="user123" name="u_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" required>
                    </div>

                  <input type="submit" class="btn btn-primary" value="Login">
                 </form>
            </div>
        </div>
    </div>
</body>
</html>